@import "./blocks/fonts";
@import "./blocks/global";

@import "./blocks/header";

// Promo
.promo {
    background-color: #F7F7F8;
    background-image: url("../img/img-kemel-tokayev-light.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 800px auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    padding: 130px 0 60px 0;

    &-date {
        display: flex;
        align-items: center;

        .title-sm {
            color: var(--text-black);
            margin: 0;
            font-size: 26px;
        }

        span {
            width: 16px;
            height: 1.5px;
            background-color: var(--text-black);
            margin: 0 10px;
        }
    }

    &-text {
        margin-bottom: 45px;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    &-title {
        color: var(--text-black);
        width: 50%;
        margin: 20px 0 30px 0;
        line-height: 100%;
        font-size: 70px;
    }
    
    &-quote {
        color: var(--text-black);
        opacity: 0.8;
        line-height: normal;
        width: 500px;
        position: relative;
        // padding-top: 70px;
        margin-top: 25px;
        
        &::before {
            content: '';
            background-image: url('../img/icons/ic-quote.svg');
            width: 124px;
            height: 130px;
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }

    &-mouse {
        // position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 50px;
        // bottom: 60px;
    }
}

// Works 
.works {
    margin-top: 80px;
    
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        >.title {
            color: var(--text-gray);
            margin-bottom: 0;
            font-size: 54px;
        }

        .swiper {
            &-btns {
                display: flex;
                align-items: center;
                gap: 22px;
                position: relative;
                width: 260px;
                height: 44px;
            }
        }
    }

    &-body {
        .swiper {
            &-slide {
                height: auto;
            }
            
        }
    }
}

// Main Writers
.writers {
    .page {
        &-body {
            display: flex;
            align-items: flex-start;
            gap: 20px;
        }
        &-header {
            margin-top: 105px;
            .breadcrumbs, .title {
                display: block; 
            }
        }
    }
    &-block {
        width: 100%;
        position: relative;

        &.left {
            max-width: 278px;
        }
        &.right {
            max-width: 100%;
        }
        &.mobile {
            margin-top: 50px;

            .accordion {
                &-item {
                    background-color: transparent !important;
                }
                &-button {
                    background-color: var(--text-black) !important;
                    padding: 10px !important;
                    display: flex;
                    justify-content: center;
                    font-size: 18px;
                }
                &-body {
                    background-color: var(--white);
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding: 20px !important;
                }
            }
            .writers {
                &-content {
                    margin-top: 0;
                    height: auto;

                    >.title {
                        text-align: center;
                        position: relative;
                        margin-bottom: 50px;
                        font-size: 24px;

                        &::after {
                            content: "";
                            background-image: url('../img/icons/ic-author-tab-content2.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            width: 100%;
                            height: 13px;
                            position: absolute;
                            left: 0;
                            bottom: -30px;
                        }
                    }
                    >.full-text {
                        font-family: 'Montserrat';
                        font-size: 18px;
                        opacity: 0.8;
                    }
                }
            }
        }

    }
    &-header {
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: left;

        >.list {
            display: flex;
            gap: 11px;
            width: 100%;
            flex-wrap: wrap;

            .list {
                &-item {
                    font-size: 16px;
                    width: 100%;
                    max-width: 262px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    &.active {
                        
                        .list-link {
                            opacity: 1;
                            border-bottom: 1px solid var(--text-black);
                        }
                    }
                }
    
                &-link {
                    width: 100%;
                    padding: 20px 0;
                    text-decoration: none;
                    color: var(--text-black);
                    opacity: 0.6;
                }
            }
        }
    }
    &-content {
        margin-top: 30px;
        height: 778px;
        overflow: hidden;

        &.tab {
            background-color: var(--text-black);
            padding: 40px 10px;
            overflow-x: hidden;
            overflow-y: scroll;

            &::-webkit-scrollbar-thumb {
                background: #747474; 
                border-radius: 18px;
            }   
            
            &::-webkit-scrollbar-thumb:hover {
                background: #676767; 
            }

            .nav {
                display: flex;
                flex-direction: column;
                gap: 18px;
                height: 100%;

                &-tabs {
                    border-bottom: 0 !important;
                }
                &-link {
                    border: 0 !important;
                    background: transparent !important;
                    color: var(--white);
                    text-transform: uppercase;
                    font-size: 16px;
                    padding: 13px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    &.active {
                        position: relative;
                        color: var(--white);

                        &::after {
                            content: "";
                            background-image: url('../img/icons/ic-author-tab.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                            right: 0;
                            margin: auto; 
                            width: 100%;
                            height: 11px;
                        }
                    }
                }
            }
        }

        &.content {
            .tab {
                &-content {
                    background-color: var(--white);
                    border: none;
                    padding: 60px 30px 40px 30px;
                    height: 100%;

                    .author {
                        margin-bottom: 60px;
                        .name {
                            text-align: center;
                            text-transform: uppercase;
                            position: relative;
                            z-index: 1;
                            

                            &::before {
                                content: "" attr(data-first-spell) "";
                                position: absolute;
                                font-size: 150px;
                                color: #ececec;
                                z-index: -1;
                                top: -55px;
                                left: 50%;
                                transform: translateX(-50%);
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                bottom: -50px;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 500px;
                                height: 20px;
                                background-image: url('../img/icons/ic-author-tab-content.svg');
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                            }
                        }
                    }
                    .title {
                        text-align: center;
                        margin-bottom: 35px;
                    }
                    .full-text {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        height: 100%;
                        max-height: 500px;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        &::-webkit-scrollbar-thumb {
                            background: #ececec; 
                            border-radius: 18px;
                        }   
                        
                        &::-webkit-scrollbar-thumb:hover {
                            background: #c8c8c8; 
                        }

                        p {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

// Gallery 
.gallery {
    .page {
        &-body {
            position: relative;
        }
    }

    &-block {
        margin-top: 40px;
        position: relative;

        .swiper {
            &-btns {
                display: flex;
                align-items: center;
                gap: 20px;
                position: relative;
                width: 260px;
                height: 44px;
            }
            &-paginations {
                position: absolute;
                bottom: 0;

                .swiper-pagination-fraction {
                    font-size: 18px;
                    color: var(--text-black);
                }
            }
        }
        .arrow-btn {
            &.swiper-button-disabled {
                opacity: 0.5;
            }
        }
    }
    &-header {
        position: absolute;
        width: 100%;
        top: -75px;

        .breadcrumbs {
            .list {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                gap: 30px;

                &-item {
                    font-size: 20px;
                    color: var(--text-gray);

                    &.active {
                        .list {
                            &-link {
                                color: var(--text-black);

                                &:hover {
                                    color: var(--text-black);
                                } 
                            }
                        }
                    }
                }
                &-link {
                    color: var(--text-gray);
                    padding-left: 0;
                    font-size: 20px;

                    &:hover {
                        color: var(--text-gray);
                    }
                }
            }
        }
    }
    &-image {
        display: flex;
        align-items: stretch;
        gap: 33px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border: 1px solid rgba(255,255,255,0.03);
            background-color: #4f4f4f;
        }

        .text-block {
            width: 100%;
            max-width: 376px;
            position: relative;
            display: flex;
            flex-direction: column;
            
            .year {
                position: relative;
                padding-left: 50px;
                margin-bottom: 30px;

                &:before {
                    content: "";
                    position: absolute;
                    width: 39px;
                    height: 1.5px;
                    background-color: var(--text-black);
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
            .city {
                color: var(--text-gray);
            }
            .name {
                text-transform: uppercase;
                margin-bottom: 24px;
            }
            .description {
                font-family: 'Montserrat';
                max-height: 200px;
                overflow: hidden;
                margin-bottom: 30px;

                p {
                    margin-bottom: 15px;
                }
            }
            .card-btn {
                width: 100%;

                &.hide {
                    display: none;
                }
            }
        }

        .full-mode {
            width: 30px;
            height: 30px;
            background-image: url('../img/icons/ic-picture-full.svg');
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        &.-photo {
            .swiper {
                &-btns {
                    margin-top: 100px; 
                }
            }   
        }

        &.-interview {
            .swiper {
                &-btns {
                    width: 100%;
                    margin-top: auto;

                    .arrow-btn {
                        width: 178px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 18px;
                    }

                    &.mobile {
                        display: none;
                    }
                }
                &-paginations {
                    top: auto;
                    left: auto;
                    right: 11px;
                    bottom: 16px;
                    z-index: 1;

                    .swiper-pagination-fraction {
                        color: var(--text-gray);
                    }
                }
            }
        }
    }
    &-swiper {
        width: 100%;
        // max-width: 764px;
        height: 567px;
        overflow: hidden;
        position: relative;
    }
    &-description {
        padding-top: 50px;
        display: none;
        .name {
            text-align: center;
            position: relative;
            z-index: 1;
            margin-bottom: 60px;

            &::before {
                content: "" attr(data-first-spell) "";
                position: absolute;
                font-size: 150px;
                color: #fff;
                z-index: -1;
                top: -55px;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0.2;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -50px;
                left: 50%;
                transform: translateX(-50%);
                width: 500px;
                height: 20px;
                background-image: url('../img/icons/ic-author-tab-content-white.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        .subname {
            text-align: center;
            margin-bottom: 35px;
        }
        .full-text {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            overflow-x: hidden;
            color: var(--text-black);

            p {
                margin-bottom: 15px;
            }
        }
    }
    &-description {
        .iframe {
            width: 100%;
            height: 657px;
        }
    }
}

.book {
    &-frame {
        width: 100%;
        height: 777px;
        position: relative;

        .singleBook_block_item {
            position: relative;
            height: 100%;
            width: 100%;
        }
        
        .flipbook {
            &-main {
                &-wrapper {
                    // background-color: var(--white) !important;
                    margin: 0 80px;
                    overflow: inherit;
                }
            }
            &-bookLayer {
                overflow: inherit;
                border: 1px solid #4f4f4f;
            }
            &-left-arrow {
                left: -40px;
            }
            &-right-arrow {
                right: -40px;
            }
            &-menuBottom {
                border: 1px solid var(--text-black) !important;
                border-top: none !important;
            }
        }
    }
    &-caption {
        text-align: center;
        position: relative;
        >.title {
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--text-black);
            opacity: 0.5;
            position: relative;
            top: -20px;
            width: 80%;
            margin: auto;
            text-align: center;
        }
        .back-btn {
            display: none;
        }
    }
    &-reader {
        .breadcrumbs {
            .list {
                .back {
                    &-btn {
                        z-index: 1;
                    }
                }
            }
        }
    }
    &-theme {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background: #fff;
    }
}

.section {
    position: relative;
    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        top: 0;
        left: calc(50% - 260px);
        background-color: var(--text-gray);
    }
    &__container {
        position: relative;
    }
    &__left-box {
        position: absolute;
        left: 0;
        max-width: 333px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__box {
        display: flex;
    }
    &__text-box {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        .section__date--simple {
            margin: 0;
        }
    }
    &__left {
        margin-right: 58px;
        flex: 0 0 auto; /* Сбрасываем flex */
        width: 333px;

        // justify-content: center;
    }
    &__left-wrapper {
        width: 100%;
        min-height: 231px;
        height: auto;
        position: relative;
        margin: 16px 0;
    }

    &__left-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
        display: inline-block;
    }
    &__right {
        padding-left: 60px;
        flex: 1 1 calc(67% - 60px);
        // width: 100%;
        color: var(--text-black);
    }
    &__text {
    }
    &__title {
        font-size: 80px;
        text-transform: uppercase;

        margin-bottom: 30px;
    }

    &__subtitle {
        font-size: 64px;
        margin-bottom: 15px;
    }
    &__subtitle--border {
        padding-bottom: 30px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 179px;
            height: 15px;
            background-color: var(--text-black);
        }
    }

    &__date {
        font-size: 32px;
        margin-bottom: 29px;
        padding-bottom: 30px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 179px;
            height: 15px;
            background-color: var(--text-black);
            bottom: 0;
            left: 0;
        }
    }
    &__date--simple {
        margin-top: 30px;
        padding: 0;
        &::after {
            display: none;
        }
    }
    &__figure {
        margin-top: 30px;
    }
    &__right--text {
        font-family: 'Montserrat';
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }
    &__figure-wrapper {
        position: relative;
        width: 100%;
        height: 440px;
    }
    &__right--row {
        display: flex;
        gap: 0 37px;
        p {
            max-width: 276px;
            width: 100%;
        }
        figure {
            max-width: 459px;
            width: 100%;
            margin-top: 0;
        }
    }
    &__figure-img {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__left-caption {
        margin-top: 0 !important;
        width: 100%;
        max-width: 100% !important;
    }
    &__caption,
    &__left-caption {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-style: italic;
        font-weight: 300;
        color: var(--text-black);
        margin-top: 10px;
    }
    &__cards {
        margin: 30px 0;
        .section__box {
            position: relative;
            &:first-child {
                .section__card {
                    border-top: none;
                }
            }
            &:last-child {
                .section__card {
                    border-bottom: 0.5px solid rgba(var(--text-black), $alpha: 0.5);
                }
            }
        }
    }
    &__card {
        padding: 30px 0;
        display: flex;
        gap: 0 22px;
        font-family: "Montserrat", sans-serif;
        border-top: 0.5px solid rgba(var(--text-black), $alpha: 0.5);
    }

    &__card-wrapper {
        width: 200px;
        height: 260px;
        position: relative;
        flex: 0 0 auto;
        overflow: hidden;
        img {
            transition: 0.4s all;
        }
        &:hover {
            img {
                transform: scale(1.3);
            }
        }
    }

    &__card-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__card-info {
        display: flex;
        flex-direction: column;
        gap: 22px 0;
    }

    &__card-title {
        font-size: 22px;
        color: var(--text-black);
        font-family: "Alice", serif;
        margin-bottom: 0;
    }

    &__card-date {
        position: absolute;
        left: 60px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 128px;
        opacity: 01;
        color: rgba(var(--text-gray), 0.5);
        font-family: "Alice", serif;
    }

    &__card-notice {
        padding-left: 34px;
        position: relative;
        font-size: 18px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background-image: url(../img/card__book.svg);
            width: 24px;
            height: 24px;
        }
    }

    &__card-caption {
        font-size: 18px;
        min-height: 102px;
        height: auto;
        margin-bottom: 0;
    }

    &__card-links {
        display: flex;
        gap: 10px;
    }

    &__card-link {
        padding: 8px 21px;
        display: inline-flex;
        gap: 0 10px;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--text-black);
        color: var(--text-black);
        text-decoration: none;
        // max-width: calc(33% - 10px);
        // width: 100%;
        font-size: 14px;
        transition: 0.3s all;

        svg {
            path,
            rect {
                transition: 0.3s all;
            }
        }
        &:hover,
        &:active {
            color: var(--white);

            svg {
                path,
                rect {
                    stroke: var(--white);
                }
            }
        }
        &:hover {
            background-color: var(--text-black);
        }
        &:active {
            background-color: var(--text-gray);
            border: 1px solid var(--text-gray);
        }
    }
}
.biography {
    padding-bottom: 50px;
    margin-top: 75px;

    .section {
        &__left-wrapper {
            min-width: 279px;
            min-height: 414px;
        }
    }
}
.time {
    padding-bottom: 30px;
    .section {
        &__left-wrapper {
            min-width: 279px;
            min-height: 414px;
        }
    }
}
.time.section {
    .section__right--gap30 {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
    }
    .section__figure {
        margin-top: 0;
    }
}
.live {
    padding-bottom: 50px;

    .section {
        &__right {
            .section {
                &__left-box {
                    top: 165px;
                }
                &__left-wrapper {
                    min-width: 279px;
                    min-height: 183px;
                }
            }
        }
        
    }
}
.activity {
    padding-bottom: 50px;
    .section__right--gap20 {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }
    .section__right {
        .section__left-wrapper {
            min-width: 279px;
            min-height: 450px;
        }
    }
}
.creation {
    padding-bottom: 50px;
}
.awards {
    padding-bottom: 50px;
    .section__left-box {
        top: -110px;
        .section__left-wrapper {
            height: 360px;
            max-width: 278px;
            margin-bottom: 0;
        }
    }
}
.family {
    padding-bottom: 50px;
    .section {
        &__left-wrapper {
            min-width: 279px;
            min-height: 353px;
        }
        &__left-box {
            top: 320px;
        }
    }
}
.last {
    .section {
        &__left-box {
            top: auto;
            bottom: 0px;
        }
    }
}


.lg {
    &-sub {
        &-html {
            .caption {
                &-block {
                    background: rgba(66, 66, 66, 0.33);
                    backdrop-filter: blur(16.200000762939453px);
                    padding: 28px 18px;
                    width: 100%;
                    max-width: 674px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                }

                &-text {
                    font-family: 'Alice' !important;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #ffffff20;
                    margin-bottom: 21px;
                    text-align: center;
                    width: 100%;
                }

                &-subtext {
                    text-align: center;
                    font-family: 'Montserrat';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }

    &-outer {
        .lg {
            &-content {
                width: 100%;
                height: 100%;
            }
        }
    }

    &-prev,&-next {
        bottom: 45%;
        top: auto !important;
        width: 131px;
        padding: 18px !important;
        border: 1px solid #fff !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        opacity: 0.5 !important;

        &:hover {
            opacity: 1 !important;
            background-color: #fff; 
        }

        &::after {
            content: '' !important;
            width: 49px;
            height: 8px;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
        }
        &::before {
            content:'' !important;
        }
    }

    &-prev {
        left: 5% !important;
        
        &:after {
            background-image: url('../img/icons/ic-swiper-arrow-left.svg');
        }
        &:hover {
            opacity: 1 !important;
            background-color: #fff; 
            &:after {
                background-image: url('../img/icons/ic-swiper-arrow-left-gray.svg');
            }
        }
    }
    &-next {
        right: 5% !important;
        &:after {
            background-image: url('../img/icons/ic-swiper-arrow-right.svg');
        }
        &:hover {
            opacity: 1 !important;
            background-color: #fff; 
            &:after {
                background-image: url('../img/icons/ic-swiper-arrow-right-gray.svg');
            }
        }
    }

    &-image {
        width: 100% !important;
        height: 100% !important;
        object-fit: contain !important;
    }
    &-content {
        top: 0 !important;
    }
    &-toolbar {
        background: rgba(0,0,0,0.5) !important; 
    }
}

@import "./blocks/footer";
@import "./blocks/media";