html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    // scroll-behavior: smooth;
}

body {
    font-family: "Alice", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
}
form {
    margin: 0;
}
fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
address {
    font-style: inherit;
}
p {
    margin: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    display: block;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
input {
    border: inherit;
    padding: 0;
    margin: 0;
}

:root {
    --white: #fff;
    --black: #000;
    --text-black: #424242;
    --text-gray: #828387;
    --bg-gray: #ECECEC;
}

::-webkit-scrollbar {
    width: 7px;
 }
 
 ::-webkit-scrollbar-track {
   background: transparent;
 }
  
 ::-webkit-scrollbar-thumb {
   background: #c8c8c8; 
   border-radius: 18px;
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: #c8c8c8; 
 }

.dark-mode {
    background-color: #424242;
    --text-black: #fff;
    --white: #000;
}


// text font sizes
.title-xxl {
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-black);
}
.title-xl {
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-black);
}
.title-lg {
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-black);
}
.title-md {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-black);
}
.title-sm {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-black);
}
.text-lg {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-black);
}
.text-md {
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-black);
}
.text-sm {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-black);
}
.text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: var(--text-black);
    line-height: normal;
    margin-bottom: 0;
}

.wrapper {
    // position: relative;
    font-family: 'Alice';
    overflow-x: hidden;

    &.lock {
        overflow: hidden;
    }
}

.main {
    overflow-x: hidden;
    margin-bottom: 85px;

    &.gallery {
        overflow-x:initial;
    }
}

.list {
    margin: 0;
    padding: 0;
}
.bg {
    &-white {
        background-color: var(--white);
    }
    &-gray {
        background-color: var(--bg-gray);
    }
}
.icon-text {
    display: flex;
    align-items: center;
    gap: 8px;
}
.accordion {
    &-item {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        background: transparent !important;
        border: none !important;

        &:first-of-type {
            .accordion {
                &-button {
                    border-top-left-radius: 0 !important;
                    border-top-right-radius: 0 !important;
                }
            }
        }
        &:last-of-type {
            .accordion {
                &-button {
                    border-bottom-left-radius: 0 !important;
                    border-bottom-right-radius: 0 !important;
                }
            }
        }
    }
    &-button {
        background: transparent !important;
        color: var(--white) !important;
        font-size: 21px !important;
        padding: 0px 0 !important;
        

        &:focus {
            border: none !important;
            box-shadow: none !important;
        }

        &:not(.collapsed) {
            background: transparent !important;
            color: var(--white) !important;
            box-shadow: none !important;
        }

        &:after {
            background-image: url('../img/icons/ic-arrow-down.svg') !important;
            margin-left: 5px !important;
        }
    }
}

.overlay {
    background-color: var(--black);
    opacity: 0.4;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 8;
    top: 0;
    left: 0;
    display: none;

    &.active {
        display: block;
    }
}

.social {
    .list {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &-item {
        position: relative;
        opacity: 0.5;

        &:hover {
            opacity: 1;
            transition: 0.3s all ease-in;
        }
    }
    .icon {
        background-position: center;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        position: relative;
        display: block;
    }
    .ic {
        &-instagram {
            background-image: url('../img/icons/ic-social-instagram.svg');
        }
        &-facebook {
            background-image: url('../img/icons/ic-social-facebook.svg');
        }
        &-tiktok {
            background-image: url('../img/icons/ic-social-tiktok.svg');
        }
        &-telegram {
            background-image: url('../img/icons/ic-social-telegram.svg');
        }
        &-youtube {
            background-image: url('../img/icons/ic-social-youtube.svg');
        }
    }
}

.page {
    &-header {
        display: flex;
        flex-direction: column;
        margin-top: 150px;
        position: relative;

        >.title {
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
}

.breadcrumbs {
    .list {
        &-link {
            text-decoration: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--text-black);
            position: relative;
            padding-left: 30px;

            &.back-btn {
                &:before {
                    content: "";
                    width: 24px;
                    height: 24px;
                    background-image: url('../img/icons/ic-arrow-left.svg');
                    background-position: left;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 0;
                }
            }
            
            
        }
    }
}

.arrow {
    &-btn {
        width: 119px;

        &.swiper-button-prev,
        &.swiper-button-next {
            width: 119px;
            border: 1px solid var(--text-black);

            &::after {
                content: '';
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                transform: none;
                padding: 18px 35px;
            }
        }

        &.swiper-button {
            &-prev {
                left: 0;
                &::after {
                    background-image: url('../../assets/img/icons/ic-swiper-arrow-left-black.svg') !important;
                }
            }
        }
        &.swiper-button {
            &-next {
                right: 0;
                &::after {
                    background-image: url('../../assets/img/icons/ic-swiper-arrow-right-black.svg') !important;
                }
            }
        }

        &.swiper-button-lock {
            display: none;
        }
    }
}

.card {
    padding: 20px!important;
    background-color: var(--white) !important;
    border: none !important;
    border-radius: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

    &-body {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
    }

    &-img {
        width: 100%;
        height: 309px;
        position: relative;
        background: #424242;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .detail {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px;
            position: absolute;
            bottom:0;
            width: 100%;
            padding: 7px;

            span {
                font-family: 'Montserrat';
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                color: var(--text-black);
                background-color: var(--white);
                padding: 5px 10px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }
    }

    &-star {
        display: flex;
        justify-content: flex-start;
        gap: 0 12px;
        margin-bottom: 10px;
    }

    &-content {
        margin-top: 10px;
    }

    &-name {
        >.title, >.subtitle {
            margin-bottom: 10px;
            font-size: 18px;
        }
        >.subtitle {
            >.city {
                margin-left: 10px;
                padding-left: 10px;
                border-left: 1px solid var(--text-black);
            }
        }
        .author {
            font-family: 'Montserrat';
            opacity: 0.5;
            margin-bottom: 15px;
        }
        >.lang {
            font-family: 'Montserrat';
            margin-bottom: 15px;
            display: none;
            padding-left: 30px;
            position: relative;

            &::before {
                content: "";
                width: 24px;
                height: 24px;
                background-image: url('../img/icons/ic-book.svg');
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

    &-description {
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--text-black);
    }

    &-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 10px;
        padding: 0 !important;
        background: transparent !important;
        border: none !important;
    }

    &-img-tools {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-top: -56px;
    }

    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFF;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
        padding: 10px;
        color: var(--text-black);
        text-decoration: none;
        text-align: center;

        svg {
            path, rect {
                transition: ease .2s;
            }
        }

        &:hover {
            transition: ease .2s;
            background-color: var(--text-black);
            color: var(--white);

            svg {
                path, rect {
                    stroke: var(--white);
                    transition: ease .2s;
                }
            }
        }
    }
    &-btn:disabled {
        color: #BCBCBD;
        cursor: auto;
    }
    &-btn:disabled:hover {
        background: #FFF;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
        color: #BCBCBD;
    }
    &-btn:disabled svg {
        path, rect {
            stroke: #BCBCBD;
        }
    }
    &-btn:disabled:hover svg {
            path, rect {
                stroke: #BCBCBD;
            }
        }
}

.dark-mode {
    .breadcrumbs {
        .list {
            &-link {
                &.back-btn {
                    &::before {
                        background-image: url('../img/icons/ic-arrow-left-white.svg');
                    }
                }
            }
        }
    }
    .book {
        &-frame {
            .flipbook {
                &-main {
                    &-wrapper {
                        background-color: #424242 !important;
                    }
                }
            }
        }
    }
}